.ProductPage{
    margin:5%;
    margin-top: 160px;
    width: 75%;
    height: 70vh;

    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.container{
    margin-left:5px;
    display: flex;
    flex-direction: column;
}
.ProductPage .carrousel-container{
    width: 60%;
}
.pdp-attributes .attributes-title,
.price-title{
    font-family: 'Raleway Bold';
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}
.pdp-attributes .attributes-title{
    margin-top:5px;
    margin-left: 5px;
}
.price-container,
.pdp-title{
    margin-left: 10px;
}
.description-container{
    padding-left: 15px;
    max-height: 225px;

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.description-container::-webkit-scrollbar {
    display: none;
}

.cta-container{
    margin:0;
    position: relative;
}
.pdp-error{
    position: absolute;
    top:-15%;
    left:10px;
}