.ProductPreview{
    margin: 15px;
    margin-left: 0;

    width: 386px;
    height: 444px;
    border: 1px solid #c2c2c2;
}

.ProductPreview section{
    width: 95%;
    height: 80%;

    margin: 10px;
    /* overflow: hidden; */
}

.preview-title{
    color:var(--primary-font-color);
    font-weight: 300;
    font-size: 18px;

    margin-left: 10px;
}