.carrousel-container{
    display: flex;
}
.Carrousel{
    width: 100%;
    height: 100%;

    position: relative;

    overflow: hidden;

    display: flex;
    align-items: center;
}
.carrousel-image{
    width: 100%;
}
.moving-icn{
    width: 15%;
    height: 100%;
    
    position: absolute;
    top:0;

    font-size: 18px;
    font-weight: 800;
    color: transparent;    

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .5s ease-in-out;
    cursor:pointer;
}
.moving-prev{
    left:0;
}
.moving-next{
    right:0;
}
.moving-icn:hover{
    color: #fff;
    background-color: rgba(0, 0, 0, .2);

    transition: all .6s ease-in-out;
}
.stock-msg{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: 400;
    color: var(--disabled-font-color);
}
.img-no-stock{
    opacity: .5;
}

.no-image{
    justify-content: center;
    align-items: center;
    
    border: 1px solid black;
    font-weight: 500;
}

.no-image::before,
.no-image::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,.4);
}

.no-image::before {
    transform: rotate(45deg);
}

.no-image::after {
    transform: rotate(-45deg);
}