@font-face {
    font-family: 'Raleway Light';
    src: local('Raleway'),
         url('../fonts/Raleway-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Regular';
    src: local('Raleway'),
         url('../fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Medium';
    src: local('Raleway'),
         url('../fonts/Raleway-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway SemiBold';
    src: local('Raleway'),
         url('../fonts/Raleway-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Bold';
    src: local('Raleway'),
         url('../fonts/Raleway-Bold.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Raleway Regular', sans-serif;
    font-size: 16px;

    --primary-font-color: rgba(29, 31, 34, 1);
    --secondary-font-color: rgba(94, 206, 123, 1);
    --disabled-font-color: rgba(141, 143, 154, 1);
    --accent-font-color: rgba(255, 255, 255, 1);
    --bkg-color: rgba(255, 255, 255, 1);
    --accent-bkg-color:rgba(94, 206, 123, 1);
    --selected-bkg-color:rgba(0, 0, 0, 1);
    --error-font-color:rgb(130, 0, 0);
}

a{
    text-decoration: none;
    color:inherit;
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes scale-down {
    0%{
        transform: scaleX(4);
        background-color:var(--accent-bkg-color)
    }
    100%{
        background-color: #000;
        transform: scaleX(1);
    }
}

@keyframes new-item {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.active{
    color: var(--secondary-font-color);
    font-weight: 600;
    font-size: 16px;

    border-bottom: 2px solid var(--secondary-font-color);
}
.error{
    color:var(--error-font-color);
    font-weight: 400;
    font-family: 'Raleway Medium';
}